.color-selector {
    position: relative;
    display: inline-block;
  }
  
  .color-button {
    width: 40px;
    height: 40px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    
  }
  
  .color-dropdown {
    position: absolute;
    top: 50px;
    left: 0;
    background: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    z-index: 100;
  }
  
  .color-option {
    width: 30px;
    height: 30px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
  }
  
  .color-option.active {
    outline: 2px solid black;
  }
  
  .color-picker {
    width: 100%;
    margin-top: 10px;
  }
  