.wrapper {
  display: flex;
  height: 100%;
  min-height: 100%;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f9fbfc;
  padding-left: 50px;
}


.sidebar.open {
  width: 200px;
  padding: 10px;
}

.sidebarToggle {
  position: absolute;
  top: 20px;
  right: 15px;
  font-size: 25px;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  z-index: 1000;
  border-radius: 8px;
  transition: background-color 0.3s;
  background-color: none;
}


.sidebarToggle:hover {
  background-color:white;
}

.sidebar {
  width: 0;
  transition: 0.3s;
  overflow-x: hidden;
  background-color: #f0f0f0;
  padding: 0;
  direction: rtl;
}
.AllButtons {
  display: flex;
  justify-content: flex-start; /* למקם את התוכן בצד שמאל */
  margin-right: 5%;
  gap: 10px;
  margin-bottom: 20px;
}

.actButton {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12px 16px;
  background-color: #eee;
  border: 1px solid #272829;
  border-radius: 10px;
  cursor: pointer;
  font-weight: 500;
  color: #000000;
  transition: background-color 0.3s ease;
}


.actButton:hover {
  background-color: #babcbe;
}

.myIcon {
  font-size: 100px;
}

.noteList {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-top: 78px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.noteButton {
  background-color: #ffffff;
  border: 1px solid #08365c;
  color: #003c66;
  width: 100%;
  padding: 7px 12px;
  border-radius: 5px;
  cursor: pointer;
  text-align: right;
  font-size: 14px;
  font-weight: 500;
  transition: all 0.3s ease;
}
.board {
  flex: 1;
  padding: 20px;
}

.addButton {
  margin-right: 10px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 10px;
  margin-right: 4%;
}

.cell {
  padding: 5px;
  border-radius: 12px;
  background-color: #ffffff;
  transition: transform 0.2s, box-shadow 0.2s;

}

.cell :hover{
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  transform: scale(1.02);
  cursor: pointer;
  border: 2px solid #64adf7;
}

.selectedNote {
  border: 2px solid #64adf7;
  box-shadow: 0 0 12px rgba(58, 155, 220, 0.5);
  background-color: #eef8ff;
}

.selectedNote :hover{
  box-shadow: none;
  transform: none;
  border: none;
}